
/* subtitle */
div.block-pagestyle div h3.list {
  display: block;
  float: none;
  margin: 0;
}
div.block-pagestyle div h3.inline {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 0.5em 0.25em 0em;
}

div.pagestyle_list div.form-item-pagestyle-select label {
  display: block;
  float: none;
  width: auto;
}
div.pagestyle_inline div.form-item-pagestyle-select label {
  display: block;
  float: left;
  width: auto;
}
div.pagestyle_list div.form-item-pagestyle-select,
div.pagestyle_inline div.form-item-pagestyle-select {
  margin: 0;
}
div.pagestyle_list div.form-item-pagestyle-select label {
  margin: 0 0 0.5em 0;
}
div.pagestyle_inline div.form-item-pagestyle-select label {
  margin: 0 0.5em 0 0;
}
div.pagestyle_list select#edit-pagestyle-select {
  margin: 0 0.5em 0.5em 0;
}
div.pagestyle_inline select#edit-pagestyle-select {
  margin: 0 0.5em 0 0;
}
div.pagestyle_current_inline div.form-item-pagestyle-select select {
  float: left;
}

/* list */
.block ul.pagestyle_inline {
  padding: 0;
  margin: 0.2em 0 0.5em 0;
}
ul.pagestyle_inline {
  display: block;
  float: left;
}
ul.pagestyle_current_list {
  clear: right;
}
ul.pagestyle_current_inline {
  width: auto;
}
ul.pagestyle_list li {
  list-style-type: none;
  list-style-image: none !important; /* fix for zen theme */
  background: transparent;
  padding: 0;
  margin: 0 0 0.2em 0;
}
ul.pagestyle_inline li {
  display: block;
  float: left;
  list-style-type: none;
  list-style-image: none !important; /* fix for zen theme */
  background: transparent;
  padding: 0;
  margin: 0;
}

/* p */
.block-pagestyle p {
  margin: 0;
  padding: 0;
}

/* images */
.ps_float_right {
  float: right;
}

/* icon */
.ps_icon,
a.ps_black_white,
a.ps_white_black,
a.ps_yellow_blue,
a.ps_standard {
  display: block;
}
.ps_icon {
  float: none;
  padding: 0 0 0 22px; /* NOTE icon specific (16 + 6 = 22px) */
}
ul.pagestyle_inline li a.ps_icon,
ul.pagestyle_inline li a.ps_rollover {
  float: left;
}

/* a */
a.pagestyle_black_white,
a.ps_black_white {
  width: 16px; /* NOTE icon specific */
  height: 16px; /* NOTE icon specific */
}
a.pagestyle_white_black,
a.ps_white_black {
  width: 16px; /* NOTE icon specific */
  height: 16px; /* NOTE icon specific */
}
a.pagestyle_yellow_blue,
a.ps_yellow_blue {
  width: 16px; /* NOTE icon specific */
  height: 16px; /* NOTE icon specific */
}
a.pagestyle_standard,
a.ps_standard {
  width: 16px; /* NOTE icon specific */
  height: 16px; /* NOTE icon specific */
}

/* a inline */
ul.pagestyle_list a.pagestyle_black_white,
ul.pagestyle_list a.ps_black_white {
  margin: 0 0 3px 0;
}
ul.pagestyle_list a.pagestyle_white_black,
ul.pagestyle_list a.ps_white_black {
  margin: 0 0 3px 0;
}
ul.pagestyle_list a.pagestyle_yellow_blue,
ul.pagestyle_list a.ps_yellow_blue {
  margin: 0 0 3px 0;
}
ul.pagestyle_list a.pagestyle_standard,
ul.pagestyle_list a.ps_standard {
  margin: 0 0 3px 0;
}

/* a inline */
ul.pagestyle_inline a.pagestyle_black_white,
ul.pagestyle_inline a.ps_black_white {
  margin: 0 3px 0 0; /* NOTE icon specific */
  padding: 0 0 0 22px; /* NOTE icon specific (16 + 6 = 22px) */
}
ul.pagestyle_inline a.pagestyle_white_black,
ul.pagestyle_inline a.ps_white_black {
  margin: 0px 3px 0 0; /* NOTE icon specific */
  padding: 0 0 0 22px; /* NOTE icon specific (16 + 6 = 22px) */
}
ul.pagestyle_inline a.pagestyle_yellow_blue,
ul.pagestyle_inline a.ps_yellow_blue {
  margin: 0px 3px 0 0; /* NOTE icon specific */
  padding: 0 0 0 22px; /* NOTE icon specific (16 + 6 = 22px) */
}
ul.pagestyle_inline a.pagestyle_standard,
ul.pagestyle_inline a.ps_standard {
  margin: 0px 3px 0 0; /* NOTE icon specific */
  padding: 0 0 0 22px; /* NOTE icon specific (16 + 6 = 22px) */
}

/* reset */
ul.pagestyle_list li a.text_display,
ul.pagestyle_inline li a.text_display {
  width: auto;
  min-height: 16px; /* NOTE icon specific */
  height: 1em; /* NOTE icon specific (16px = 1em) */
  margin: 0 12px 0 0;
}
ul.pagestyle_list li a.text_display_hidden,
ul.pagestyle_inline li a.text_display_hidden {
  padding: 0;
}

/* a span */
ul.pagestyle_list li a span.display {
  padding: 0px;
  margin: 0px;
}
ul.pagestyle_list li a span.display_hidden {
  padding: 0 3px 0.2em 0;
}
a.ps_icon.pagestyle_end {
  cursor: crosshair;
}

/* pagestyle black white link, visited  */
a.pagestyle_black_white,
a.pagestyle_black_white:visited  {
  min-height: 16px; /* NOTE icon specific */
  height: 1em; /* NOTE icon specific (16px = 1em) */
  background-color: transparent;
  background-image: url("images/black_white.gif") !important; /* !important for page style module */
  background-repeat: no-repeat;
  background-position: 0 0px;
}
ul.pagestyle_inline li a.pagestyle_black_white,
ul.pagestyle_inline li a.pagestyle_black_white:visited {
  background-position: 0px 0px; /* NOTE icon specific */
}

/* pagestyle white black link, visited */
a.pagestyle_white_black,
a.pagestyle_white_black:visited {
  min-height: 16px; /* NOTE icon specific */
  height: 1em; /* NOTE icon specific (16px = 1em) */
  background-color: transparent;
  background-image: url("images/white_black.gif") !important; /* !important for page style module */
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
ul.pagestyle_inline li a.pagestyle_white_black,
ul.pagestyle_inline li a.pagestyle_white_black:visited {
  background-position: 0px 0px; /* NOTE icon specific */
}

/* pagestyle normal link, visited  */
a.pagestyle_yellow_blue,
a.pagestyle_yellow_blue:visited {
  min-height: 16px; /* NOTE icon specific */
  height: 1em; /* NOTE icon specific (16px = 1em) */
  background-color: transparent;
  background-image: url("images/yellow_blue.gif") !important; /* !important for page style module */
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
ul.pagestyle_inline li a.pagestyle_yellow_blue,
ul.pagestyle_inline li a.pagestyle_yellow_blue:visited {
  background-position: 0px 0px; /* NOTE icon specific */
}

/* pagestyle normal link, visited  */
a.pagestyle_standard,
a.pagestyle_standard:visited {
  min-height: 16px; /* NOTE icon specific */
  height: 1em; /* NOTE icon specific (16px = 1em) */
  background-color: transparent;
  background-image: url("images/standard.gif") !important; /* !important for page style module */
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
ul.pagestyle_inline li a.pagestyle_standard,
ul.pagestyle_inline li a.pagestyle_standard:visited {
  background-position: 0px 0px; /* NOTE icon specific */
}

/* pagestyle hover  */
a.pagestyle_black_white:hover,
a.pagestyle_white_black:hover,
a.pagestyle_yellow_blue:hover,
a.pagestyle_standard:hover {
  background-position: 0 -100px;
  background-repeat: no-repeat; /* fix for Opera */
}
/* pagestyle black white hover inline */
ul.pagestyle_inline li a.pagestyle_black_white:hover {
  background-position: 0px -100px; /* NOTE icon specific */
}
/* pagestyle white black hover inline */
ul.pagestyle_inline li a.pagestyle_white_black:hover {
  background-position: 0px -100px; /* NOTE icon specific */
}
/* pagestyle normal hover inline */
ul.pagestyle_inline li a.pagestyle_yellow_blue:hover {
  background-position: 0px -100px; /* NOTE icon specific */
}
/* pagestyle standard hover inline */
ul.pagestyle_inline li a.pagestyle_standard:hover {
  background-position: 0px -100px; /* NOTE icon specific */
}

/* pagestyle focus/active */
a.pagestyle_black_white:focus,
a.pagestyle_white_black:focus,
a.pagestyle_yellow_blue:focus,
a.pagestyle_standard:focus,
a.pagestyle_black_white:active,
a.pagestyle_white_black:active,
a.pagestyle_yellow_blue:active,
a.pagestyle_standard:active {
  background-position: 0 -200px;
  background-repeat: no-repeat; /* fix for Opera */
}
/* pagestyle white black focus/active inline */
ul.pagestyle_inline li a.pagestyle_black_white:focus,
ul.pagestyle_inline li a.pagestyle_black_white:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}
/* pagestyle white black focus/active inline */
ul.pagestyle_inline li a.pagestyle_white_black:focus,
ul.pagestyle_inline li a.pagestyle_white_black:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}
/* pagestyle normal focus/active inline */
ul.pagestyle_inline li a.pagestyle_yellow_blue:focus,
ul.pagestyle_inline li a.pagestyle_yellow_blue:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}
/* pagestyle normal focus/active inline */
ul.pagestyle_inline li a.pagestyle_standard:focus,
ul.pagestyle_inline li a.pagestyle_standard:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}

/* current */
p.pagestyle_current_list,
p.pagestyle_current_inline {
  display: block;
  float: left;
  clear: right;
}

p.pagestyle_current_list {
  width: 100%;
}
p.pagestyle_current_inline {
  width: auto;
  margin: 0px 0.2em 0 0;  /* NOTE icon specific */
}
/* reset */
p.text_display {
  margin: 0;
}

abbr.pagestyle,
span.pagestyle_current_help,
p.current_text_display_hidden span#pagestyle_current {
  cursor: help;
}

/**
 * Hacks
 * Images not for IE 4 - 5.5 and NN 4.
 */
head:first-child+body a.pagestyle_black_white,
head:first-child+body a.pagestyle_black_white:visited {
  background-image: url("images/black_white.png") !important; /* !important for page style module */
}
head:first-child+body a.pagestyle_white_black,
head:first-child+body a.pagestyle_white_black:visited {
  background-image: url("images/white_black.png") !important; /* !important for page style module */
}
head:first-child+body a.pagestyle_yellow_blue,
head:first-child+body a.pagestyle_yellow_blue:visited {
  background-image: url("images/yellow_blue.png") !important; /* !important for page style module */
}
head:first-child+body a.pagestyle_standard,
head:first-child+body a.pagestyle_standard:visited {
  background-image: url("images/standard.png") !important; /* !important for page style module */
}

head:first-child+body a.pagestyle_black_white:hover {
  background-image: url("images/black_white.png") !important; /* !important for page style module */
}
head:first-child+body a.pagestyle_white_black:hover {
  background-image: url("images/white_black.png") !important; /* !important for page style module */
}
head:first-child+body a.pagestyle_yellow_blue:hover {
  background-image: url("images/yellow_blue.png") !important; /* !important for page style module */
}
head:first-child+body a.pagestyle_standard:hover {
  background-image: url("images/standard.png") !important; /* !important for page style module */
}

/* pagestyle focus/active */
a.pagestyle_black_white:focus,
a.pagestyle_white_black:focus,
a.pagestyle_yellow_blue:focus,
a.pagestyle_standard:focus,
a.pagestyle_black_white:active,
a.pagestyle_white_black:active,
a.pagestyle_yellow_blue:active,
a.pagestyle_standard:active {
  background-position: 0 -200px;
  background-repeat: no-repeat; /* fix for Opera */
}
/* pagestyle black white focus/active inline */
ul.pagestyle_inline li a.pagestyle_black_white:focus,
ul.pagestyle_inline li a.pagestyle_black_white:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}
/* pagestyle white black focus/active inline */
ul.pagestyle_inline li a.pagestyle_white_black:focus,
ul.pagestyle_inline li a.pagestyle_white_black:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}
/* pagestyle yellow blue focus/active inline */
ul.pagestyle_inline li a.pagestyle_yellow_blue:focus,
ul.pagestyle_inline li a.pagestyle_yellow_blue:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}
/* pagestyle standard focus/active inline */
ul.pagestyle_inline li a.pagestyle_standard:focus,
ul.pagestyle_inline li a.pagestyle_standard:active  {
  background-position: 0px -200px; /* NOTE icon specific */
}

/* admin and help */
.ps_ok {
  color: #008000;
}
div.fieldset-wrapper div.form-item-pagestyle-black-white label,
div.fieldset-wrapper div.form-item-pagestyle-white-black label,
div.fieldset-wrapper div.form-item-pagestyle-yellow-blue label,
div.fieldset-wrapper div.form-item-pagestyle-standard label {
  padding: 0em 0.5em;
  border: 1px solid black;
}
span.pagestyle_black_white,
span.pagestyle_white_black,
span.pagestyle_yellow_blue,
span.pagestyle_standard,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-black-white label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-white-black label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-yellow-blue label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-standard label {
  display: block;
  width: 18em;
  padding: 0em 0.5em 0em 0em;
  border: 1px solid black;
  margin: 0em 0em 0.2em 0em;
}
div.fieldset-wrapper div.form-item-pagestyle-fontweight-black-white label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-white-black label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-yellow-blue label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-standard label {
  padding: 0em 0.5em 0em 0.5em;
}
div.form-item-pagestyle-display-normal label input {
  margin: 0em 3.5em 0em 0.3em; /* NOTE icon specific */
}
div.form-item-pagestyle-display-normal label {
  background: transparent url("images/normal.gif") no-repeat 2.2em 0;
  display: block;
  height: 16px; /* NOTE icon specific */
}
.ps_download_button,
a.ps_download_button:link,
a.ps_download_button:visited {
  display: block;
  float: none;
  padding: 0.5em 1em;
  border: 1px solid #E09010;
  margin: 1em;
  text-decoration: underline;
  color: #E09010;
  background-color: #FFFFBF;
}
a.ps_download_button:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: #FFFFBF;
}
a.ps_download_button:focus,
a.ps_download_button:active {
  border: 1px dashed #FFFFFF;
  color: #FFFFFF;
  background-color: #00BF00;
}

/**
 * Erasable or editable code
 */
.ps_clear {
  clear: both;
}
/* display hidden. If your theme have a class for "display hidden" */
.display_hidden {
  position: absolute;
  left: -1000px;	
  top: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: inline;
}
/* Drupal garland theme specific */
div#header-region div.block-pagestyle h2,
div#header-region div.block-pagestyle div h3,
div#header-region div div ul.pagestyle_list,
div#header-region div div ul.pagestyle_inline,
div#header-region div div ul.pagestyle_list li,
div#header-region div div ul.pagestyle_inline li,
div#header-region div div p.pagestyle_current_list,
div#header-region div div p.pagestyle_current_inline,
div#header-region div div form div div div.form-item-pagestyle-select label {
  display: block;
  margin: 0;
}
.ps_icon,
a.ps_black_white,
a.ps_white_black,
a.ps_yellow_blue,
a.ps_standard {
  line-height: 100%;
}
div#header-region div.block-pagestyle div h3.inline,
div#header-region div div form div div div.form-item-pagestyle-select label {
  margin: 0 0.5em 0 0;
}
div#header-region div div p.pagestyle_current_inline {
  margin-top: 0em;
}
div#header-region div div ul.pagestyle_inline li {
  margin: 0 0 0 0;
}
select#edit-pagestyle-select option {
  display: block; /* fix for Garland theme */
}

/**
 * The style for jQuery
 * Info: This "!important" values are stronger, because the place is after the values in the CSS head."
 */
span.pagestyle_black_white,
body.pagestyle_black_white,
body.pagestyle_black_white *,
div.form-item-pagestyle-black-white label,
div.form-item-pagestyle-fontweight-black-white label {
  color: #000 !important;
  background-color: #fff !important;
  background-image: none !important;
}
span.pagestyle_white_black,
body.pagestyle_white_black,
body.pagestyle_white_black *,
div.form-item-pagestyle-white-black label,
div.form-item-pagestyle-fontweight-white-black label {
  color: #fff !important;
  background-color: #000 !important;
  background-image: none !important;
}
span.pagestyle_yellow_blue,
body.pagestyle_yellow_blue,
body.pagestyle_yellow_blue *,
div.form-item-pagestyle-yellow-blue label,
div.form-item-pagestyle-fontweight-yellow-blue label {
  color: #ff0 !important;
  background-color: #00f !important;
  background-image: none !important;
}
span.pagestyle_standard,
div.form-item-pagestyle-standard label,
div.form-item-pagestyle-fontweight-standard label {
  color: blue !important;
  background-color: #D3D3D3 !important; /* LightGrey */
}

/* style not for old browsers (IE 6) */
select#edit-pagestyle-select option[value="black_white"],
select#edit-pagestyle-normal option[value="black_white"] {
  color: #000 !important;
  background-color: #fff !important;
  background-image: none !important;
}
select#edit-pagestyle-select option[value="white_black"],
select#edit-pagestyle-normal option[value="white_black"] {
  color: #fff !important;
  background-color: #000 !important;
  background-image: none !important;
}
select#edit-pagestyle-select option[value="yellow_blue"],
select#edit-pagestyle-normal option[value="yellow_blue"] {
  color: #ff0 !important;
  background-color: #00f !important;
  background-image: none !important;
}
select#edit-pagestyle-select option[value="standard"],
select#edit-pagestyle-normal option[value="standard"] {
  color: blue !important;
  background-color: #D3D3D3 !important; /* LightGrey */
}

div.form-item-pagestyle-fontweight-black-white,
div.form-item-pagestyle-fontweight-white-black,
div.form-item-pagestyle-fontweight-yellow-blue,
div.form-item-pagestyle-fontweight-standard {
  float: left;
  width: 100%;
}
div.fieldset-wrapper div.form-item-pagestyle-fontweight-black-white label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-white-black label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-yellow-blue label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-standard label,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-black-white select,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-white-black select,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-yellow-blue select,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-standard select {
  float: left;
  margin: 0em 1em 0em 0em;
}
div.fieldset-wrapper div.form-item-pagestyle-fontweight-black-white div.description,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-white-black div.description,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-yellow-blue div.description,
div.fieldset-wrapper div.form-item-pagestyle-fontweight-standard div.description {
  float: left;
  clear: left;
}

/* Drupal 7 specific */
/* help */
body.page-admin-help-pagestyle div#page div#content div div div.content p {
  margin: 0 0 0.5em 0;
}
body.page-admin-help-pagestyle div#page div#content div div div.content hr {
  display: block;
}
body.page-admin-help-pagestyle div#page div#content div div div.content ul,
body.page-admin-help-pagestyle div#page div#content div div div.content ol {
  margin: 0.2em 0em 0.2em 2em;
}
body.page-admin-help-pagestyle div#page div#content div div div.content ul {
  list-style-type: disc;
}
body.page-admin-help-pagestyle div#page div#content div div div.content ol {
  list-style-type: decimal;
}
